.extra-catalog {
  padding: $mobile-padding;
}

.extra-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-catalog__list {
  @include liststyle;
}

.extra-catalog__item-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.extra-catalog__item-name a {
  color: $black-light;
  text-decoration: none;
}

.extra-catalog__item-description {
  font-size: 14px;
  line-height: 14px;
  color: $black-lighten;
}

.extra-catalog__promo {
  height: 290px;
  padding: $mobile-padding;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  background: $leaf url("../../img/gift-photo-mobile@1x.jpg") no-repeat;
}

@media (min-width: $tablet-width) {
  .extra-catalog {
    padding: $tablet-padding;
  }

  .extra-catalog__promo {
    padding: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .extra-catalog {
    padding: $desktop-padding;
  }

  .extra-catalog__columns {
    display: flex;
    justify-content: space-between;
  }

  .extra-catalog__list {
    width: 77%;
    display: flex;
    flex-direction: column;
  }

  .extra-catalog__item {
    display: flex;
    justify-content: space-between;
  }

  .extra-catalog__item-name,
  .extra-catalog__item-features,
  .extra-catalog__button {
    width: 30%;
  }

  .extra-catalog__promo {
    width: 17%;
    padding: 0;
  }

  .extra-catalog__button {
    display: block;
  }
}
