.extra-catalog {
  padding: $mobile-padding;
}

.extra-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-catalog__list {
  @include liststyle;
}

.extra-catalog__item-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.extra-catalog__item-name a {
  color: $black-light;
  text-decoration: none;
}

.extra-catalog__item-description {
  font-size: 14px;
  line-height: 14px;
  color: $black-lighten;
}

@media (min-width: $tablet-width) {
  .extra-catalog {
    padding: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .extra-catalog {
    width: 77%;
    margin-right: 80px;
    padding: $desktop-padding;
  }

  .extra-catalog__item {
    display: flex;
    justify-content: space-between;
  }

  .extra-catalog__item-name,
  .extra-catalog__item-features,
  .extra-catalog__button {
    width: 30%;
  }
}
