.page-footer__wrapper {
  background-color: $grey-bg;
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.page-footer__map {
  width: 100%;
}

.page-footer_map-image {
  width: 320px;
  height: 400px;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: $tablet-padding;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: 30%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom {
    padding: $desktop-padding;
  }
}
