.promo-catalog {
  height: 290px;
  padding: $mobile-padding;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  background: $leaf url("../../img/gift-photo-mobile@1x.jpg") no-repeat;
}

@media (min-width: $tablet-width) {
  .promo-catalog {
    padding: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .promo-catalog {
    width: 17%;
    padding: 0;
  }
}
