.promo {
  color: $white;
  background-color: $leaf;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__wrapper {
  background-color: $white;
}
