$black: #111111;
$black-light: #222222;
$black-lighten: #444444;
$black-lightest: #666666;
$grey-bg: #f2f2f2;
$grey-border: #cdcdcd;
$white: #ffffff;
$leaf: #68b738;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-padding: 0 20px;
$tablet-padding: 0 30px;
$desktop-padding: 0 110px;
